.container{
    display: flex;
    
}
.message_container{
    overflow:auto;
    height:600px;
    width: 1000px;
}

.users_container{
    overflow:auto;
    max-height:900px;
    
}

.user_container{
    display: flex;
    width: 200px;
    height: 70px;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
    border-top: 1px solid lightgray;
}

.user_container:nth-child(1){
    border-top: none;
}

.user_container:hover{
    background-color: lightgray;

}